.about{
    display: flex;
    align-items: center;
    margin: 80px 100px;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
}
.about-title{
    position: relative;
    padding: 0px 30px;
    font-size: 22px;
    font-weight: 400;
}
.about-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #ff6ec4, #7873f5);
    border-radius: 999px;
    transition: transform 0.3s ease;
    transform: scaleX(1);
    transform-origin: left;
}
.about-sections{
    display: flex;
    gap: 30px;
}
.about-left{
    width: 100%;
}
.about-left img{
    width: 400px;
    height: 360px;
    border-radius: 20px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about-para{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 20px;
    font-weight: 300;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.about-skill p{
    min-width: 150px;
    font-size: 20px;
    font-weight: 400;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8909 -5.09%, #B415FF 106.28%);
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-achievement h1{
    font-size: 50px;
    font-weight: 400;
    background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievement p{
    font-size: 20px;
    font-weight: 300;
}
.about-achievement:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
